Считайте датасет из файла train.csv (это данные о выживаемости на Титанике)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('drive/MyDrive/train.csv')

Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл

In [ ]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Посчитайте процент выживаемости у каждого класса пассажиров (Pclass)

In [ ]:
survival = (df.groupby('Pclass')['Survived'].mean() #группируем по классу и количеству выживших, берём среднее
                                            .mul(100)#умножаем на 100
                                            .round()#округляем
                                            .reset_index(name='Процент выживаемости (%)'))#переименовываем столбец
print(survival)

   Pclass  Процент выживаемости (%)
0       1                      63.0
1       2                      47.0
2       3                      24.0

Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе

In [ ]:
def extract_first_name(row):
    name = row['Name']
    if row['Sex'] == 'female':
          #женское имя записывается в формате [фамилия, титул. имя] ЛИБО [фамилия, титул и имя мужа (имя)]
          # если есть скобки то ищем имя в скобках
        if '(' in name and ')' in name:
            inside = name[name.find('(')+1 : name.find(')')].strip()
            return inside.split()[0]

    #извлекаем имя для всех остальных случаев. имя записывается в формате [фамилия, титул. имя]
    part = name.split('.', 1)[1].strip()#разделяем по точке чтобы извлечь имя, берём второй элемент (имя целиком), удаляем пробелы
    return part.split()[0]#делим ещё раз, на случай если имя состоит из двух частей, берём первое имя



df['first name'] = df.apply(extract_first_name, axis=1) #применяем функцию построчно
name_counts = (df.groupby(['Sex','Pclass', 'first name']) #группируем по классу имени и полу
                      .size()#считаем сколько имён
                     .reset_index(name='count'))#переименовываем столбец

top_names = (name_counts.sort_values(['Sex','Pclass','count'], ascending=[True, True, False]) #сортируем значения - класс по убыванию, счёт имени по возрастанию,
             #чтобы популярные были сверху
              .groupby(['Sex','Pclass']) #группирем по классу
              .head(1) # берём первый элемент
              .reset_index(drop = True))#сбрасываем индекс
print(top_names)

      Sex  Pclass first name  count
0  female       1  Elizabeth      5
1  female       2  Elizabeth      5
2  female       3       Anna      9
3    male       1    William     11
4    male       2    William      9
5    male       3    William     15

Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл

In [ ]:
age_44 = df[df['Age'] > 44]
print(age_44.to_string())

     PassengerId  Survived  Pclass                                                               Name     Sex   Age  SibSp  Parch        Ticket      Fare        Cabin Embarked    first name
6              7         0       1                                            McCarthy, Mr. Timothy J    male  54.0      0      0         17463   51.8625          E46        S       Timothy
11            12         1       1                                           Bonnell, Miss. Elizabeth  female  58.0      0      0        113783   26.5500         C103        S     Elizabeth
15            16         1       2                                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0        248706   16.0000          NaN        S          Mary
33            34         0       2                                              Wheadon, Mr. Edward H    male  66.0      0      0    C.A. 24579   10.5000          NaN        S        Edward
52            53         1       1                           Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1      0      PC 17572   76.7292          D33        C          Myna
54            55         0       1                                     Ostby, Mr. Engelhart Cornelius    male  65.0      0      1        113509   61.9792          B30        C     Engelhart
62            63         0       1                                        Harris, Mr. Henry Birkhardt    male  45.0      1      0         36973   83.4750          C83        S         Henry
92            93         0       1                                        Chaffee, Mr. Herbert Fuller    male  46.0      1      0   W.E.P. 5734   61.1750          E31        S       Herbert
94            95         0       3                                                  Coxon, Mr. Daniel    male  59.0      0      0        364500    7.2500          NaN        S        Daniel
96            97         0       1                                          Goldschmidt, Mr. George B    male  71.0      0      0      PC 17754   34.6542           A5        C        George
110          111         0       1                                     Porter, Mr. Walter Chamberlain    male  47.0      0      0        110465   52.0000         C110        S        Walter
116          117         0       3                                               Connors, Mr. Patrick    male  70.5      0      0        370369    7.7500          NaN        Q       Patrick
124          125         0       1                                        White, Mr. Percival Wayland    male  54.0      0      1         35281   77.2875          D26        S      Percival
129          130         0       3                                                 Ekstrom, Mr. Johan    male  45.0      0      0        347061    6.9750          NaN        S         Johan
132          133         0       3                     Robins, Mrs. Alexander A (Grace Charity Laury)  female  47.0      1      0     A/5. 3337   14.5000          NaN        S         Grace
150          151         0       2                                         Bateman, Rev. Robert James    male  51.0      0      0   S.O.P. 1166   12.5250          NaN        S        Robert
152          153         0       3                                                   Meo, Mr. Alfonzo    male  55.5      0      0    A.5. 11206    8.0500          NaN        S       Alfonzo
155          156         0       1                                        Williams, Mr. Charles Duane    male  51.0      0      1      PC 17597   61.3792          NaN        C       Charles
167          168         0       3                    Skoog, Mrs. William (Anna Bernhardina Karlsson)  female  45.0      1      4        347088   27.9000          NaN        S          Anna
170          171         0       1                                          Van der hoef, Mr. Wyckoff    male  61.0      0      0        111240   33.5000          B19        S       Wyckoff
174          175         0       1                                            Smith, Mr. James Clinch    male  56.0      0      0         17764   30.6958           A7        C         James
177          178         0       1                                         Isham, Miss. Ann Elizabeth  female  50.0      0      0      PC 17595   28.7125          C49        C           Ann
187          188         1       1                      Romaine, Mr. Charles Hallace ("Mr C Rolmane")    male  45.0      0      0        111428   26.5500          NaN        S       Charles
195          196         1       1                                               Lurette, Miss. Elise  female  58.0      0      0      PC 17569  146.5208          B80        C         Elise
203          204         0       3                                               Youseff, Mr. Gerious    male  45.5      0      0          2628    7.2250          NaN        C       Gerious
222          223         0       3                                            Green, Mr. George Henry    male  51.0      0      0         21440    8.0500          NaN        S        George
232          233         0       2                                          Sjostedt, Mr. Ernst Adolf    male  59.0      0      0        237442   13.5000          NaN        S         Ernst
249          250         0       2                                      Carter, Rev. Ernest Courtenay    male  54.0      1      0        244252   26.0000          NaN        S        Ernest
252          253         0       1                                          Stead, Mr. William Thomas    male  62.0      0      0        113514   26.5500          C87        S       William
259          260         1       2                                        Parrish, Mrs. (Lutie Davis)  female  50.0      0      1        230433   26.0000          NaN        S         Lutie
262          263         0       1                                                  Taussig, Mr. Emil    male  52.0      1      1        110413   79.6500          E67        S          Emil
268          269         1       1                      Graham, Mrs. William Thompson (Edith Junkins)  female  58.0      0      1      PC 17582  153.4625         C125        S         Edith
275          276         1       1                                  Andrews, Miss. Kornelia Theodosia  female  63.0      1      0         13502   77.9583           D7        S      Kornelia
276          277         0       3                                  Lindblom, Miss. Augusta Charlotta  female  45.0      0      0        347073    7.7500          NaN        S       Augusta
280          281         0       3                                                   Duane, Mr. Frank    male  65.0      0      0        336439    7.7500          NaN        Q         Frank
299          300         1       1                    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0      1      PC 17558  247.5208      B58 B60        C        Helene
317          318         0       2                                               Moraweck, Dr. Ernest    male  54.0      0      0         29011   14.0000          NaN        S        Ernest
326          327         0       3                                          Nysveen, Mr. Johan Hansen    male  61.0      0      0        345364    6.2375          NaN        S         Johan
331          332         0       1                                                Partner, Mr. Austen    male  45.5      0      0        113043   28.5000         C124        S        Austen
338          339         1       3                                              Dahl, Mr. Karl Edwart    male  45.0      0      0          7598    8.0500          NaN        S          Karl
339          340         0       1                                       Blackwell, Mr. Stephen Weart    male  45.0      0      0        113784   35.5000            T        S       Stephen
362          363         0       3                                    Barbara, Mrs. (Catherine David)  female  45.0      0      1          2691   14.4542          NaN        C     Catherine
366          367         1       1                   Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  female  60.0      1      0        110813   75.2500          D37        C          Anna
397          398         0       2                                            McKane, Mr. Peter David    male  46.0      0      0         28403   26.0000          NaN        S         Peter
406          407         0       3                                   Widegren, Mr. Carl/Charles Peter    male  51.0      0      0        347064    7.7500          NaN        S  Carl/Charles
434          435         0       1                                          Silvey, Mr. William Baird    male  50.0      1      0         13507   55.9000          E44        S       William
438          439         0       1                                                  Fortune, Mr. Mark    male  64.0      1      4         19950  263.0000  C23 C25 C27        S          Mark
440          441         1       2                        Hart, Mrs. Benjamin (Esther Ada Bloomfield)  female  45.0      1      1  F.C.C. 13529   26.2500          NaN        S        Esther
449          450         1       1                                     Peuchen, Major. Arthur Godfrey    male  52.0      0      0        113786   30.5000         C104        S        Arthur
453          454         1       1                                           Goldenberg, Mr. Samuel L    male  49.0      1      0         17453   89.1042          C92        C        Samuel
456          457         0       1                                          Millet, Mr. Francis Davis    male  65.0      0      0         13509   26.5500          E38        S       Francis
458          459         1       2                                                Toomey, Miss. Ellen  female  50.0      0      0  F.C.C. 13531   10.5000          NaN        S         Ellen
460          461         1       1                                                Anderson, Mr. Harry    male  48.0      0      0         19952   26.5500          E12        S         Harry
462          463         0       1                                                  Gee, Mr. Arthur H    male  47.0      0      0        111320   38.5000          E63        S        Arthur
463          464         0       2                                       Milling, Mr. Jacob Christian    male  48.0      0      0        234360   13.0000          NaN        S         Jacob
467          468         0       1                                         Smart, Mr. John Montgomery    male  56.0      0      0        113792   26.5500          NaN        S          John
482          483         0       3                                           Rouse, Mr. Richard Henry    male  50.0      0      0      A/5 3594    8.0500          NaN        S       Richard
483          484         1       3                                             Turkula, Mrs. (Hedwig)  female  63.0      0      0          4134    9.5875          NaN        S        Hedwig
487          488         0       1                                            Kent, Mr. Edward Austin    male  58.0      0      0         11771   29.7000          B37        C        Edward
492          493         0       1                                         Molson, Mr. Harry Markland    male  55.0      0      0        113787   30.5000          C30        S         Harry
493          494         0       1                                            Artagaveytia, Mr. Ramon    male  71.0      0      0      PC 17609   49.5042          NaN        C         Ramon
496          497         1       1                                     Eustis, Miss. Elizabeth Mussey  female  54.0      1      0         36947   78.2667          D20        C     Elizabeth
513          514         1       1                     Rothschild, Mrs. Martin (Elizabeth L. Barrett)  female  54.0      1      0      PC 17603   59.4000          NaN        C     Elizabeth
515          516         0       1                                       Walker, Mr. William Anderson    male  47.0      0      0         36967   34.0208          D46        S       William
526          527         1       2                                               Ridsdale, Miss. Lucy  female  50.0      0      0   W./C. 14258   10.5000          NaN        S          Lucy
536          537         0       1                                  Butt, Major. Archibald Willingham    male  45.0      0      0        113050   26.5500          B38        S     Archibald
544          545         0       1                                         Douglas, Mr. Walter Donald    male  50.0      1      0      PC 17761  106.4250          C86        C        Walter
545          546         0       1                                       Nicholson, Mr. Arthur Ernest    male  64.0      0      0           693   26.0000          NaN        S        Arthur
555          556         0       1                                                 Wright, Mr. George    male  62.0      0      0        113807   26.5500          NaN        S        George
556          557         1       1  Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")  female  48.0      1      0         11755   39.6000          A16        C       Lucille
570          571         1       2                                                 Harris, Mr. George    male  62.0      0      0   S.W./PP 752   10.5000          NaN        S        George
571          572         1       1                      Appleton, Mrs. Edward Dale (Charlotte Lamson)  female  53.0      2      0         11769   51.4792         C101        S     Charlotte
582          583         0       2                                         Downton, Mr. William James    male  54.0      0      0         28403   26.0000          NaN        S       William
586          587         0       2                                            Jarvis, Mr. John Denzil    male  47.0      0      0        237565   15.0000          NaN        S          John
587          588         1       1                                   Frolicher-Stehli, Mr. Maxmillian    male  60.0      1      1         13567   79.2000          B41        C    Maxmillian
591          592         1       1                    Stephenson, Mrs. Walter Bertram (Martha Eustis)  female  52.0      1      0         36947   78.2667          D20        C        Martha
592          593         0       3                                         Elsbury, Mr. William James    male  47.0      0      0      A/5 3902    7.2500          NaN        S       William
597          598         0       3                                                Johnson, Mr. Alfred    male  49.0      0      0          LINE    0.0000          NaN        S        Alfred
599          600         1       1                       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")    male  49.0      1      0      PC 17485   56.9292          A20        C         Cosmo
625          626         0       1                                              Sutton, Mr. Frederick    male  61.0      0      0         36963   32.3208          D50        S     Frederick
626          627         0       2                                     Kirkland, Rev. Charles Leonard    male  57.0      0      0        219533   12.3500          NaN        Q       Charles
630          631         1       1                               Barkworth, Mr. Algernon Henry Wilson    male  80.0      0      0         27042   30.0000          A23        S      Algernon
631          632         0       3                                        Lundahl, Mr. Johan Svensson    male  51.0      0      0        347743    7.0542          NaN        S         Johan
645          646         1       1                                          Harper, Mr. Henry Sleeper    male  48.0      1      0      PC 17572   76.7292          D33        C         Henry
647          648         1       1                                Simonius-Blumer, Col. Oberst Alfons    male  56.0      0      0         13213   35.5000          A26        C        Oberst
659          660         0       1                                         Newell, Mr. Arthur Webster    male  58.0      0      2         35273  113.2750          D48        C        Arthur
660          661         1       1                                      Frauenthal, Dr. Henry William    male  50.0      2      0      PC 17611  133.6500          NaN        S         Henry
662          663         0       1                                         Colley, Mr. Edward Pomeroy    male  47.0      0      0          5727   25.5875          E58        S        Edward
672          673         0       2                                        Mitchell, Mr. Henry Michael    male  70.0      0      0    C.A. 24580   10.5000          NaN        S         Henry
684          685         0       2                                  Brown, Mr. Thomas William Solomon    male  60.0      1      1         29750   39.0000          NaN        S        Thomas
694          695         0       1                                                    Weir, Col. John    male  60.0      0      0        113800   26.5500          NaN        S          John
695          696         0       2                                         Chapman, Mr. Charles Henry    male  52.0      0      0        248731   13.5000          NaN        S       Charles
698          699         0       1                                           Thayer, Mr. John Borland    male  49.0      1      1         17421  110.8833          C68        C          John
706          707         1       2                                      Kelly, Mrs. Florence "Fannie"  female  45.0      0      0        223596   13.5000          NaN        S      Florence
712          713         1       1                                           Taylor, Mr. Elmer Zebley    male  48.0      1      0         19996   52.0000         C126        S         Elmer
714          715         0       2                                              Greenberg, Mr. Samuel    male  52.0      0      0        250647   13.0000          NaN        S        Samuel
723          724         0       2                                            Hodges, Mr. Henry Price    male  50.0      0      0        250643   13.0000          NaN        S         Henry
736          737         0       3                            Ford, Mrs. Edward (Margaret Ann Watson)  female  48.0      1      3    W./C. 6608   34.3750          NaN        S      Margaret
745          746         0       1                                       Crosby, Capt. Edward Gifford    male  70.0      1      1     WE/P 5735   71.0000          B22        S        Edward
754          755         1       2                                   Herman, Mrs. Samuel (Jane Laver)  female  48.0      1      2        220845   65.0000          NaN        S          Jane
765          766         1       1                               Hogeboom, Mrs. John C (Anna Andrews)  female  51.0      1      0         13502   77.9583          D11        S          Anna
771          772         0       3                                            Jensen, Mr. Niels Peder    male  48.0      0      0        350047    7.8542          NaN        S         Niels
772          773         0       2                                                  Mack, Mrs. (Mary)  female  57.0      0      0   S.O./P.P. 3   10.5000          E77        S          Mary
774          775         1       2                              Hocking, Mrs. Elizabeth (Eliza Needs)  female  54.0      1      3         29105   23.0000          NaN        S         Eliza

Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - 2 балла

In [ ]:
male_age_44 = df[(df['Sex']=='male') & (df['Age']>44)]
print(male_age_44.to_string())

     PassengerId  Survived  Pclass                                           Name   Sex   Age  SibSp  Parch       Ticket      Fare        Cabin Embarked    first name
6              7         0       1                        McCarthy, Mr. Timothy J  male  54.0      0      0        17463   51.8625          E46        S       Timothy
33            34         0       2                          Wheadon, Mr. Edward H  male  66.0      0      0   C.A. 24579   10.5000          NaN        S        Edward
54            55         0       1                 Ostby, Mr. Engelhart Cornelius  male  65.0      0      1       113509   61.9792          B30        C     Engelhart
62            63         0       1                    Harris, Mr. Henry Birkhardt  male  45.0      1      0        36973   83.4750          C83        S         Henry
92            93         0       1                    Chaffee, Mr. Herbert Fuller  male  46.0      1      0  W.E.P. 5734   61.1750          E31        S       Herbert
94            95         0       3                              Coxon, Mr. Daniel  male  59.0      0      0       364500    7.2500          NaN        S        Daniel
96            97         0       1                      Goldschmidt, Mr. George B  male  71.0      0      0     PC 17754   34.6542           A5        C        George
110          111         0       1                 Porter, Mr. Walter Chamberlain  male  47.0      0      0       110465   52.0000         C110        S        Walter
116          117         0       3                           Connors, Mr. Patrick  male  70.5      0      0       370369    7.7500          NaN        Q       Patrick
124          125         0       1                    White, Mr. Percival Wayland  male  54.0      0      1        35281   77.2875          D26        S      Percival
129          130         0       3                             Ekstrom, Mr. Johan  male  45.0      0      0       347061    6.9750          NaN        S         Johan
150          151         0       2                     Bateman, Rev. Robert James  male  51.0      0      0  S.O.P. 1166   12.5250          NaN        S        Robert
152          153         0       3                               Meo, Mr. Alfonzo  male  55.5      0      0   A.5. 11206    8.0500          NaN        S       Alfonzo
155          156         0       1                    Williams, Mr. Charles Duane  male  51.0      0      1     PC 17597   61.3792          NaN        C       Charles
170          171         0       1                      Van der hoef, Mr. Wyckoff  male  61.0      0      0       111240   33.5000          B19        S       Wyckoff
174          175         0       1                        Smith, Mr. James Clinch  male  56.0      0      0        17764   30.6958           A7        C         James
187          188         1       1  Romaine, Mr. Charles Hallace ("Mr C Rolmane")  male  45.0      0      0       111428   26.5500          NaN        S       Charles
203          204         0       3                           Youseff, Mr. Gerious  male  45.5      0      0         2628    7.2250          NaN        C       Gerious
222          223         0       3                        Green, Mr. George Henry  male  51.0      0      0        21440    8.0500          NaN        S        George
232          233         0       2                      Sjostedt, Mr. Ernst Adolf  male  59.0      0      0       237442   13.5000          NaN        S         Ernst
249          250         0       2                  Carter, Rev. Ernest Courtenay  male  54.0      1      0       244252   26.0000          NaN        S        Ernest
252          253         0       1                      Stead, Mr. William Thomas  male  62.0      0      0       113514   26.5500          C87        S       William
262          263         0       1                              Taussig, Mr. Emil  male  52.0      1      1       110413   79.6500          E67        S          Emil
280          281         0       3                               Duane, Mr. Frank  male  65.0      0      0       336439    7.7500          NaN        Q         Frank
317          318         0       2                           Moraweck, Dr. Ernest  male  54.0      0      0        29011   14.0000          NaN        S        Ernest
326          327         0       3                      Nysveen, Mr. Johan Hansen  male  61.0      0      0       345364    6.2375          NaN        S         Johan
331          332         0       1                            Partner, Mr. Austen  male  45.5      0      0       113043   28.5000         C124        S        Austen
338          339         1       3                          Dahl, Mr. Karl Edwart  male  45.0      0      0         7598    8.0500          NaN        S          Karl
339          340         0       1                   Blackwell, Mr. Stephen Weart  male  45.0      0      0       113784   35.5000            T        S       Stephen
397          398         0       2                        McKane, Mr. Peter David  male  46.0      0      0        28403   26.0000          NaN        S         Peter
406          407         0       3               Widegren, Mr. Carl/Charles Peter  male  51.0      0      0       347064    7.7500          NaN        S  Carl/Charles
434          435         0       1                      Silvey, Mr. William Baird  male  50.0      1      0        13507   55.9000          E44        S       William
438          439         0       1                              Fortune, Mr. Mark  male  64.0      1      4        19950  263.0000  C23 C25 C27        S          Mark
449          450         1       1                 Peuchen, Major. Arthur Godfrey  male  52.0      0      0       113786   30.5000         C104        S        Arthur
453          454         1       1                       Goldenberg, Mr. Samuel L  male  49.0      1      0        17453   89.1042          C92        C        Samuel
456          457         0       1                      Millet, Mr. Francis Davis  male  65.0      0      0        13509   26.5500          E38        S       Francis
460          461         1       1                            Anderson, Mr. Harry  male  48.0      0      0        19952   26.5500          E12        S         Harry
462          463         0       1                              Gee, Mr. Arthur H  male  47.0      0      0       111320   38.5000          E63        S        Arthur
463          464         0       2                   Milling, Mr. Jacob Christian  male  48.0      0      0       234360   13.0000          NaN        S         Jacob
467          468         0       1                     Smart, Mr. John Montgomery  male  56.0      0      0       113792   26.5500          NaN        S          John
482          483         0       3                       Rouse, Mr. Richard Henry  male  50.0      0      0     A/5 3594    8.0500          NaN        S       Richard
487          488         0       1                        Kent, Mr. Edward Austin  male  58.0      0      0        11771   29.7000          B37        C        Edward
492          493         0       1                     Molson, Mr. Harry Markland  male  55.0      0      0       113787   30.5000          C30        S         Harry
493          494         0       1                        Artagaveytia, Mr. Ramon  male  71.0      0      0     PC 17609   49.5042          NaN        C         Ramon
515          516         0       1                   Walker, Mr. William Anderson  male  47.0      0      0        36967   34.0208          D46        S       William
536          537         0       1              Butt, Major. Archibald Willingham  male  45.0      0      0       113050   26.5500          B38        S     Archibald
544          545         0       1                     Douglas, Mr. Walter Donald  male  50.0      1      0     PC 17761  106.4250          C86        C        Walter
545          546         0       1                   Nicholson, Mr. Arthur Ernest  male  64.0      0      0          693   26.0000          NaN        S        Arthur
555          556         0       1                             Wright, Mr. George  male  62.0      0      0       113807   26.5500          NaN        S        George
570          571         1       2                             Harris, Mr. George  male  62.0      0      0  S.W./PP 752   10.5000          NaN        S        George
582          583         0       2                     Downton, Mr. William James  male  54.0      0      0        28403   26.0000          NaN        S       William
586          587         0       2                        Jarvis, Mr. John Denzil  male  47.0      0      0       237565   15.0000          NaN        S          John
587          588         1       1               Frolicher-Stehli, Mr. Maxmillian  male  60.0      1      1        13567   79.2000          B41        C    Maxmillian
592          593         0       3                     Elsbury, Mr. William James  male  47.0      0      0     A/5 3902    7.2500          NaN        S       William
597          598         0       3                            Johnson, Mr. Alfred  male  49.0      0      0         LINE    0.0000          NaN        S        Alfred
599          600         1       1   Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")  male  49.0      1      0     PC 17485   56.9292          A20        C         Cosmo
625          626         0       1                          Sutton, Mr. Frederick  male  61.0      0      0        36963   32.3208          D50        S     Frederick
626          627         0       2                 Kirkland, Rev. Charles Leonard  male  57.0      0      0       219533   12.3500          NaN        Q       Charles
630          631         1       1           Barkworth, Mr. Algernon Henry Wilson  male  80.0      0      0        27042   30.0000          A23        S      Algernon
631          632         0       3                    Lundahl, Mr. Johan Svensson  male  51.0      0      0       347743    7.0542          NaN        S         Johan
645          646         1       1                      Harper, Mr. Henry Sleeper  male  48.0      1      0     PC 17572   76.7292          D33        C         Henry
647          648         1       1            Simonius-Blumer, Col. Oberst Alfons  male  56.0      0      0        13213   35.5000          A26        C        Oberst
659          660         0       1                     Newell, Mr. Arthur Webster  male  58.0      0      2        35273  113.2750          D48        C        Arthur
660          661         1       1                  Frauenthal, Dr. Henry William  male  50.0      2      0     PC 17611  133.6500          NaN        S         Henry
662          663         0       1                     Colley, Mr. Edward Pomeroy  male  47.0      0      0         5727   25.5875          E58        S        Edward
672          673         0       2                    Mitchell, Mr. Henry Michael  male  70.0      0      0   C.A. 24580   10.5000          NaN        S         Henry
684          685         0       2              Brown, Mr. Thomas William Solomon  male  60.0      1      1        29750   39.0000          NaN        S        Thomas
694          695         0       1                                Weir, Col. John  male  60.0      0      0       113800   26.5500          NaN        S          John
695          696         0       2                     Chapman, Mr. Charles Henry  male  52.0      0      0       248731   13.5000          NaN        S       Charles
698          699         0       1                       Thayer, Mr. John Borland  male  49.0      1      1        17421  110.8833          C68        C          John
712          713         1       1                       Taylor, Mr. Elmer Zebley  male  48.0      1      0        19996   52.0000         C126        S         Elmer
714          715         0       2                          Greenberg, Mr. Samuel  male  52.0      0      0       250647   13.0000          NaN        S        Samuel
723          724         0       2                        Hodges, Mr. Henry Price  male  50.0      0      0       250643   13.0000          NaN        S         Henry
745          746         0       1                   Crosby, Capt. Edward Gifford  male  70.0      1      1    WE/P 5735   71.0000          B22        S        Edward
771          772         0       3                        Jensen, Mr. Niels Peder  male  48.0      0      0       350047    7.8542          NaN        S         Niels
789          790         0       1                       Guggenheim, Mr. Benjamin  male  46.0      0      0     PC 17593   79.2000      B82 B84        C      Benjamin
851          852         0       3                            Svensson, Mr. Johan  male  74.0      0      0       347060    7.7750          NaN        S         Johan
857          858         1       1                         Daly, Mr. Peter Denis   male  51.0      0      0       113055   26.5500          E17        S         Peter
873          874         0       3                    Vander Cruyssen, Mr. Victor  male  47.0      0      0       345765    9.0000          NaN        S        Victor

Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) - 1 бал

In [ ]:
cabin_counts = df['Cabin'].value_counts() #считаем количество каждых кабинок

print(f'Кабинок с 2 людьми: {(cabin_counts == 2).sum()} штук')#выводим сумму
print(f'Кабинок с 3 людьми: {(cabin_counts == 3).sum()} штук')
print(f'Кабинок с 4 людьми: {(cabin_counts >= 4).sum()} штук')

Кабинок с 2 людьми: 38 штук
Кабинок с 3 людьми: 5 штук
Кабинок с 4 людьми: 3 штук